// colors
$primary: #FFF600;
$main : #0E76BC;
$black: #000;
$black2: #1D1D1D;
$white: #fff;
$purple: #92278F;
// fonts
$mainFont: 'Brandon Text', sans-serif;
$titleFont: 'Brandon Grotesque', sans-serif;
$noeDisplay: 'Noe Display', sans-serif;
$carosello: 'Carosello', sans-serif;






