.hero {
  position: relative;
  padding: 50px 0;
  color: $white;
  &.big {
    padding: 155px 0 90px;
    .hero {
      &__inner {
        flex-direction: column;
      }
    }
  }
  &.large {
    padding: 160px 0 260px;
    .hero {
      &__inner {
        flex-direction: column;
        &-title {
          max-width: 1035px;
        }
        p {
          max-width: unset;
        }
      }
    }
  }
  &.light {
    padding-bottom: 60px;
    background-color: $purple;
  }
  &.cut {
    position: relative;
    background-color: $purple;
    &::before {
      position: absolute;
      bottom: -2px;
      left: 0;
      width: calc(50% + 10px);
      height: 170px;
      content: "";
      background-color: $white;
      clip-path: polygon(0 0, 0% 100%, 100% 100%);
      z-index: 1;
      pointer-events: none;
    }
    &::after {
      position: absolute;
      bottom: -2px;
      right: 0;
      width: calc(50% + 10px);
      height: 170px;
      content: "";
      background-color: $white;
      z-index: 1;
      clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
      pointer-events: none;
    }
  }
  &.down {
    padding-bottom: 170px;
  }
  &.affil {
    padding: 150px 0 0;
    .hero {
      &__inner {
        flex-direction: column;
        align-items: center;
        &-title {
          width: calc(100% + 2px);
          margin: 0 -2px 10px;
          h2 {
            max-width: 913px;
            margin: 14px auto 0;
            span {
              color: $primary;
            }
          }
        }
      }
      &Image {
        width: 100%;
        max-width: 600px;
        margin-bottom: -80px;
        z-index: 3;
        transform: translateX(3%);
      }
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(#5b2c92, 0.9);
    pointer-events: none;
    img {
      @include fullImage;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
    &-bg {
      position: absolute;
      top: 15%;
      left: 50%;
      width: 100%;
      max-width: 945px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(-50%);
      opacity: 0.1;
      pointer-events: none;
      img {
        width: 100%;
      }
    }
    &-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 54px;
      height: 54px;
      cursor: pointer;
      transition: 0.3s ease;
      margin: 26px auto;
      img {
        width: 100%;
      }
    }
    &-content {
      width: calc(60% - 20px);
      max-width: 663px;
    }
    &-image {
      width: calc(40% - 20px);
      max-width: 480px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    &-row {
      padding: 40px 0 22px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 560px;
    }
    &-text {
      max-width: 1000px;
      margin: 0 auto 40px;
      text-align: center;
      h5 {
        margin-bottom: 30px;
        font-weight: 400;
        line-height: 140%;
        span {
          font-weight: 700;
          display: block;
          color: $primary;
        }
      }
      h2 {
        text-transform: capitalize;
        line-height: 140%;
        span {
          color: $primary;
        }
      }
    }
    h1 {
      margin-bottom: 40px;
    }
    p {
      font-weight: 300;
      max-width: 558px;
    }
    &-title {
      text-align: center;
      margin-bottom: 30px;
      &.sm {
        margin: 0;
        h2 {
          margin: 24px 0;
        }
      }
      &.ex {
        max-width: unset !important;
        h2 {
          margin-top: 14px;
        }
      }
      &.down {
        max-width: 913px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        h1 {
          max-width: 680px;
        }
        p {
          margin-top: 25px;
          span {
            color: $primary;
          }
        }
      }
      h1 {
        margin: 0 !important;
      }
      h2 {
        &.sm {
          max-width: 913px;
          margin: 15px auto;
        }
      }
      p {
        &.lg {
          margin-top: 6px;
          &:last-of-type {
            margin: 0;
          }
        }
      }
    }
  }
  &Item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(20% - 10px);
    max-width: 96px;
    img {
      width: 100%;
    }
  }
  &Image {
    width: 100%;
    max-width: 921px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -50%;
    &.sm {
      max-width: 721px;
    }
    &.ex {
      max-width: 452px;
      width: calc(100% - 20px);
    }
    &.up {
      max-width: 745px;
      margin-bottom: -43%;
    }
    img {
      width: 100%;
    }
  }
}
// 1380px
@mixin hero-xxxlg-xxxxlg {
  .hero {
  }
}
// 1250px
@mixin hero-xlg-xxlg-extra {
  .hero {
  }
}
// 1180px
@mixin hero-xlg-xxlg {
  .hero {
    padding: 35px 0;
    &.large {
      padding: 130px 0 230px;
    }
    &.light {
      padding-bottom: 60px;
    }
    &__inner {
      &-arrow {
        width: 48px;
        height: 48px;
        margin: 25px auto 18px;
      }
      &-content {
        padding: 0;
      }
      &-row {
        padding: 20px 0;
      }
      h1 {
        margin-bottom: 20px;
      }
    }
  }
}
// 1024px
@mixin hero-lg-xlg {
  .hero {
    &.big {
      padding: 120px 0 70px;
    }
    &.large {
      padding: 120px 0 200px;
    }
    &.light {
      padding-bottom: 60px;
    }
    &.ex {
      .hero {
        &__inner {
          &-title {
            h2 {
              font-size: 34px;
              line-height: 40px;
            }
          }
        }
      }
    }
    &.affil {
      padding-top: 120px;
    }
    &__inner {
      &-title {
        &.sm {
          h2 {
            margin: 10px 0 12px;
          }
        }
        h2 {
          font-size: 28px;
          line-height: 39px;
        }
      }
      &-image {
        width: calc(40% - 5px);
      }
      &-content {
        width: calc(65% - 5px);
      }
      &-row {
        padding: 20px 0 15px;
      }
      h1 {
        margin-bottom: 15px;
      }
    }
  }
}
// 930px
@mixin hero-md-lg {
  .hero {
    &__inner {
      &-bg {
        min-width: 886px;
        top: unset;
        bottom: 0;
        transform: translate(-50%, 10%);
      }
    }
    &Image {
      &.sm {
        margin-bottom: -60%;
      }
      &.up {
        margin-bottom: -50%;
      }
    }
  }
}
// 840px
@mixin hero-md-lg-extra {
  .hero {
    padding: 50px 0 0 0;
    &.cut {
      &::before {
        height: 120px;
      }
      &::after {
        height: 120px;
      }
    }
    &.down {
      padding-bottom: 150px;
    }
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-title {
        &.sm {
          p {
            font-size: 22px;
            line-height: 30px;
          }
        }
        &.down {
          p {
            font-size: 22px;
            line-height: 30px;
          }
        }
      }
      &-content {
        width: 100%;
        max-width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 5px;
      }
      &-image {
        width: calc(100% - 20px);
        max-width: 480px;
        margin: 0 0 -30% 0;
        position: static;
      }
      &-row {
        padding: 30px 0 35px;
      }
    }
    &Image {
      margin-bottom: -56%;
      &.sm {
        margin-bottom: -66%;
      }
      &.up {
        margin-bottom: -56%;
      }
    }
  }
}
// 750px
@mixin hero-sm-md {
  .hero {
    &.big {
      h1 {
        font-size: 45px;
        line-height: 55px;
      }
    }
    &Image {
      &.sm {
        margin-bottom: -74%;
      }
    }
  }
}
// 650px
@mixin hero-sm-md-extra {
  .hero {
    &Image {
      margin-bottom: -70%;
      &.up {
        width: calc(100% + 100px);
        margin-bottom: -56%;
        margin: 0 -50px -72%;
      }
    }
  }
}
// 540px
@mixin hero-xsm-sm {
  .hero {
    padding-top: 35px;
    &.big {
      padding: 100px 0 50px;
      .hero__bg {
        img {
          object-position: left;
        }
      }
      h1 {
        font-size: 40px;
        line-height: 50px;
      }
    }
    &.large {
      padding: 100px 0 200px;
      .hero__inner {
        &-title {
          margin: 0;
        }
      }
    }
    &.light {
      padding: 110px 0 46px;
    }
    &.ex {
      padding: 100px 0 0;
    }
    &.cut {
      padding-bottom: 0;
      &::before {
        height: 70px;
      }
      &::after {
        height: 70px;
      }
    }
    &.down {
      padding-bottom: 110px;
    }
    &.affil {
      padding: 100px 0 0;
      .hero {
        &__inner {
          &-title {
            width: 100%;
            margin: 0 0 5px 0;
          }
        }
        &Image {
          width: calc(100% + 12px);
          transform: translateX(3%);
          margin: 0;
        }
      }
    }
    &__inner {
      &-bg {
        transform: translate(-52%, 8%);
      }
      &-text {
        margin-bottom: 30px;
        h5 {
          font-size: 28px;
          line-height: 39px;
          margin-bottom: 24px;
        }
        h2 {
          font-size: 32px;
          line-height: 44px;
        }
      }
      &-title {
        margin-bottom: 38px;
        &.sm {
          p {
            font-size: 20px;
            line-height: 28px;
          }
        }
        &.down {
          p {
            font-size: 20px;
            line-height: 28px;
            margin-top: 10px;
          }
        }
      }
      &-image {
        margin-bottom: -50%;
      }
      p {
        &.lg {
          margin-top: 10px;
        }
      }
    }
    &Item {
      width: calc(20% - 6px);
    }
    &Image {
      margin: 30px 0 -110px;
      &.sm {
        margin: 30px 0 -160px;
      }
      &.ex {
        margin: 10px 0 -210px;
      }
      &.up {
        margin-bottom: -136px;
      }
    }
  }
}
// 440px
@mixin hero-xxsm-xsm {
  .hero {
  }
}
.intro {
  padding: 50px 0 80px;
  &__inner {
    &-title {
      p {
        &.sm {
          font-weight: 300;
          font-style: italic;
          color: #555555;
          margin-bottom: 20px;
        }
      }
      h6 {
        margin-bottom: 8px;
        font-style: italic;
        color: $purple;
        font-family: $noeDisplay;
      }
    }
    &-content {
      width: calc(60% - 15px);
      max-width: 688px;
      display: flex;
      flex-direction: column;
      &-wrapper {
        position: relative;
        margin-bottom: 40px;
      }
    }
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 210%;
      position: relative;
      &-wrapper {
        position: absolute;
        bottom: 0;
        right: 0;
        width: calc(40% - 15px);
        max-width: 400px;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
        border-radius: 14px;
      }
    }
    &-text {
      margin-bottom: 25px;
    }
    &-quote {
      background: #f9f8dd;
      box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.12);
      border-radius: 14px;
      padding: 30px;
      font-style: italic;
      font-family: $noeDisplay;
    }
    h2 {
      margin-bottom: 25px;
    }
  }
}
// 1024px
@mixin intro-lg-xlg {
  .intro {
    padding: 50px 0 60px;
    &__inner {
      &-title {
        p {
          &.sm {
            margin-bottom: 10px;
          }
        }
      }
      &-text {
        margin-bottom: 18px;
      }
      &-quote {
        padding: 15px 20px;
        border-radius: 12px;
      }
      &-content {
        width: calc(61% - 15px);
        &-wrapper {
          margin-bottom: 25px;
        }
      }
      h2 {
        margin-bottom: 16px;
      }
    }
  }
}
// 930px
@mixin intro-md-lg {
  .intro {
    &__inner {
      &-content {
        width: 100%;
        max-width: unset;
      }
      &-title {
        p {
          &.sm {
            margin-bottom: 14px;
          }
        }
        h6 {
          margin-bottom: 12px;
        }
      }
      &-image {
        padding-bottom: 56%;
        &-wrapper {
          position: static;
          width: 100%;
          max-width: unset;
          padding: 30px 0;
        }
        img {
          object-position: top center;
        }
      }
      &-text {
        margin-bottom: 30px;
      }
      &-quote {
        padding: 20px;
      }
      h2 {
        margin: 0;
      }
    }
  }
}
// 840px
@mixin intro-md-lg-extra {
  .intro {
    padding: 220px 0 40px;
    &__inner {
      p {
        font-size: 22px;
        line-height: 30px;
      }
    }
  }
}
// 650px
@mixin intro-sm-md-extra {
  .intro {
    padding: 175px 0 40px;
  }
}
// 540px
@mixin intro-xsm-sm {
  .intro {
    padding: 250px 0 40px;
    &__inner {
      &-quote {
        padding: 15px;
      }
      p {
        font-size: 20px;
        line-height: 28px;
        &.sm {
          font-size: 16px;
          line-height: 30px;
        }
      }
    }
  }
}
// 440px
@mixin intro-xxsm-xsm {
  .intro {
    padding: 180px 0 40px;
  }
}
.about {
  position: relative;
  padding: 90px 0 110px;
  color: $white;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    img {
      @include fullImage;
    }
  }
  &__inner {
    display: flex;
    justify-content: flex-end;
    position: relative;
    &-content {
      width: calc(55% - 15px);
      max-width: 583px;
      z-index: 2;
    }
    &-image {
      position: absolute;
      top: 50%;
      left: 0;
      width: calc(56% - 15px);
      max-width: 637px;
      transform: translate(-10%, -45%);
      z-index: 1;
      img {
        width: 100%;
      }
    }
    &-logo {
      width: 80%;
      max-width: 456px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 55px;
      img {
        width: 100%;
      }
    }
    h5 {
      margin-bottom: 32px;
    }
  }
}
// 1180px
@mixin about-xlg-xxlg {
  .about {
    padding: 80px 0;
    &__inner {
      &-image {
        width: calc(52% - 10px);
        transform: translate(-5%, -50%);
      }
      &-logo {
        width: 70%;
        margin-bottom: 35px;
      }
    }
  }
}
// 1024px
@mixin about-lg-xlg {
  .about {
    padding: 60px 0;
    &__inner {
      &-logo {
        width: 60%;
        margin-bottom: 20px;
      }
      h5 {
        margin-bottom: 24px;
      }
    }
  }
}
// 930px
@mixin about-md-lg {
  .about {
    &__inner {
      &-content {
        width: 100%;
        max-width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-image {
        width: calc(100% + 12px);
        position: static;
        transform: translate(2%, 0);
        margin-bottom: 10px;
      }
      &-logo {
        margin-bottom: 35px;
      }
      h5 {
        text-align: center;
      }
    }
  }
}
// 840px
@mixin about-md-lg-extra {
  .about {
    &__inner {
      p {
        font-size: 22px;
        line-height: 30px;
      }
    }
  }
}
// 540px
@mixin about-xsm-sm {
  .about {
    padding: 50px 0 60px;
    &__inner {
      &-logo {
        margin-bottom: 22px;
      }
      &-image {
        margin: 0;
      }
      p {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}
.ingredient {
  padding: 80px 0 50px;
  &__inner {
    &-title {
      text-align: center;
      max-width: 885px;
      margin: 0 auto 30px;
    }
    &-row {
      display: flex;
      flex-wrap: wrap;
    }
    h2 {
      max-width: 687px;
      margin: 0 auto 15px;
    }
  }
  &Item {
    width: 33.3%;
    margin: 30px 0;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__image {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 4px solid $primary;
      margin-bottom: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
        @include fullImage;
      }
    }
    h5 {
      color: $purple;
      margin-bottom: 8px;
    }
    ul {
      li {
        line-height: 155%;
      }
    }
  }
}
// 1024px
@mixin ingredient-lg-xlg {
  .ingredient {
    padding: 50px 0;
    &__inner {
      &-title {
        margin-bottom: 20px;
      }
    }
    &Item {
      margin: 20px 0;
      li {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}
// 930px
@mixin ingredient-md-lg {
  .ingredient {
    &Item {
      width: 50%;
    }
  }
}
// 840px
@mixin ingredient-md-lg-extra {
  .ingredient {
    &__inner {
      p {
        font-size: 22px;
        line-height: 30px;
      }
    }
  }
}
// 650px
@mixin ingredient-sm-md-extra {
  .ingredient {
    padding: 35px 0 50px;
    &__inner {
      &-title {
        margin-bottom: 34px;
      }
      h2 {
        br {
          display: none;
        }
      }
    }
    &Item {
      width: 100%;
      margin: 0 0 45px 0;
      padding: 0;
      &:last-child {
        margin: 0;
      }
    }
  }
}
.bonus {
  position: relative;
  padding: 95px 0;
  &.dark {
    background: linear-gradient(180deg, #0e76bc 0%, #92278f 100%);
    padding: 40px 0 75px;
    .bonus__inner {
      hr {
        margin: 54px 0 66px;
        max-width: unset;
      }
    }
  }
  &.sm {
    padding: 65px 0 80px;
  }
  &.big {
    padding: 50px 0;
    .bonus__bg {
      max-height: 360px;
      &::before {
        height: 60%;
      }
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: $purple;
    pointer-events: none;
    &::before {
      position: absolute;
      top: calc(100% - 2px);
      left: 0;
      width: 100%;
      height: 28%;
      background-color: $purple;
      content: "";
      clip-path: polygon(50% 100%, 0 0, 100% 0);
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      max-width: 1060px;
      margin: 0 auto 30px;
      text-align: center;
      color: $white;
      h5 {
        color: $primary;
        margin-bottom: 17px;
      }
      h2 {
        margin: 0;
        max-width: unset;
      }
    }
    &-logo {
      width: 65%;
      max-width: 455px;
      margin: 0 auto 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    &-row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      max-width: 1040px;
      margin: 0 auto;
    }
    &-image {
      width: 100%;
      max-width: 773px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 36px;
      img {
        width: 100%;
      }
    }
    &-content {
      text-align: center;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      color: $white;
      li {
        width: 33.3%;
        display: flex;
        align-items: center;
        margin: 10px 0;
        white-space: nowrap;
        span {
          width: 36px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          img {
            width: 100%;
          }
        }
        h5 {
          width: calc(100% - 56px);
        }
      }
    }
    & > h2 {
      max-width: 893px;
      margin: 0 auto 55px;
      text-align: center;
      color: $white;
      br {
        display: none;
      }
      span {
        color: $primary;
      }
    }

    hr {
      width: 100%;
      height: 4px;
      max-width: 960px;
      margin: 45px auto 40px;
      background-color: $black;
      opacity: 0.3;
    }
  }
  &Item {
    width: calc(50% - 15px);
    max-width: 480px;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 122%;
      position: relative;
      filter: drop-shadow(0px 11px 16px rgba(0, 0, 0, 0.2));
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
        border-radius: 20px;
      }
    }
    &__content {
      padding: 30px 30px 40px;
      border-radius: 20px;
      border: 2px solid #d9d9d9;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: unset;
      margin: 0 15px;
      background-color: $white;
    }
    h2 {
      text-transform: uppercase;
      color: $purple;
      margin: 0;
      font-family: $titleFont;
      font-weight: 900;
    }
    h6 {
      margin-bottom: 14px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h5 {
      width: calc(100% + 64px);
      margin: 0 -32px 20px;
      padding: 12px;
      background: linear-gradient(90deg, #0e76bc 31.39%, #92278f 70.96%);
      color: $white;
      span {
        color: $primary;
      }
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
// 1180px
@mixin bonus-xlg-xxlg {
  .bonus {
    padding: 80px 0;
    &.big {
      .bonus {
        &__inner {
          h5 {
            font-size: 28px;
            line-height: 39px;
          }
        }
      }
    }
    &__inner {
      &-logo {
        width: 50%;
      }
      h5 {
        font-size: 24px;
        line-height: 26px;
      }
      ul {
        li {
          span {
            width: 28px;
            height: 28px;
            margin-right: 12px;
          }
          h5 {
            width: calc(100% - 40px);
          }
        }
      }
    }
  }
}
// 930px
@mixin bonus-md-lg {
  .bonus {
    &__inner {
      h5 {
        font-size: 24px;
        line-height: 26px;
      }
      ul {
        li {
          width: 50%;
          span {
            width: 24px;
            height: 24px;
            margin-right: 18px;
          }
          h5 {
            width: calc(100% - 42px);
          }
        }
      }
      hr {
        margin: 40px 0 24px;
      }
      & > h2 {
        margin-bottom: 44px;
      }
    }
    &Item {
      width: calc(50% - 10px);
      &__content {
        padding: 20px 20px 30px;
        margin: 0 10px;
      }
      h5 {
        width: calc(100% + 44px);
        margin: 0 -22px 15px;
      }
    }
  }
}
// 840px
@mixin bonus-md-lg-extra {
  .bonus {
    &.sm {
      padding: 40px 0 70px;
    }
    &__bg {
      height: 34%;
    }
    &__inner {
      &-row {
        flex-direction: column;
        align-items: center;
      }
      &-content {
        p {
          font-size: 22px;
          line-height: 30px;
        }
      }
    }
    &Item {
      width: 100%;
      margin-bottom: 50px;
      max-width: unset;
      &__content {
        border: 2px solid #d9d9d9 !important;
        border-radius: 20px !important;
      }
      &__head {
        max-width: 480px;
        margin: 0 auto 20px auto;
      }
      &:last-child {
        margin: 0;
      }
      h6 {
        font-size: 30px;
        line-height: 32px;
        display: block;
      }
      h5 {
        font-size: 32px;
        line-height: 44px;
      }
      p {
        display: block;
      }
      h2 {
        font-size: 40px;
        line-height: 100%;
        margin-bottom: 6px;
      }
    }
  }
}
// 650px
@mixin bonus-sm-md-extra {
  .bonus {
    &__inner {
      &-logo {
        width: 84%;
        max-width: 252px;
      }
      ul {
        max-width: 310px;
        li {
          width: 100%;
          margin: 0 0 14px 0;
          &:last-child {
            margin: 0;
          }
        }
      }
    }
    &Item {
      &__content {
        padding: 18px 18px 28px;
      }
      p {
        font-size: 20px;
        line-height: 28px;
      }
      h6 {
        margin-bottom: 18px;
      }
      h5 {
        width: calc(100% + 40px);
        padding: 7px 15px;
        margin: 0 -20px;
      }
    }
  }
}
// 540px
@mixin bonus-xsm-sm {
  .bonus {
    &.dark {
      padding: 40px 0 65px;
      .bonus__inner {
        hr {
          margin: 50px 0;
        }
      }
    }
    &.sm {
      padding: 24px 0 70px;
      .bonus__bg {
        max-height: 510px;
      }
    }
    &.big {
      padding: 40px 0;
      .bonus__bg {
        max-height: 500px;
        &::before {
          height: 20%;
        }
      }
    }
    &__inner {
      &-logo {
        margin-bottom: 24px;
      }
      &-content {
        p {
          font-size: 20px;
          line-height: 28px;
          font-weight: 400;
        }
      }
      & > h2 {
        br {
          display: block;
        }
      }
    }
    &Item {
      &__head {
        margin-bottom: -3px;
      }
      &__content {
        border-top: unset !important;
        border-radius: 0 0 20px 20px !important;
      }
    }
  }
}
.advantage {
  background-color: $main;
  &__inner {
    padding: 40px 0 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    &.sm {
      padding: 0;
    }
    &-icon {
      width: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    &-title {
      width: calc(100% - 200px);
      max-width: 850px;
    }
    h2 {
      color: $white;
      margin-bottom: 10px;
      span {
        color: $black2;
      }
    }
  }
  &__footer {
    background-color: $purple;
    padding: 40px 0 56px;
    color: $white;
    position: relative;
    &.sm {
      padding: 22px 0;
      &::before {
        display: none;
      }
    }
    &.big {
      padding: 220px 0 70px;
      &::before {
        display: none;
      }
      .advantage__footer {
        &-inner {
          flex-direction: column;
          align-items: center;
        }
      }
      h1 {
        margin-bottom: 10px;
      }
      h2 {
        font-size: 36px;
        line-height: 44px;
        max-width: unset;
      }
    }
    &::before {
      position: absolute;
      top: calc(100% - 2px);
      left: 50%;
      width: 120px;
      height: 44px;
      content: "";
      transform: translateX(-50%);
      background-color: $purple;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
      z-index: 1;
    }
    &-inner {
      display: flex;
      justify-content: center;
      text-align: center;
    }
    h2 {
      max-width: 915px;
      margin: 0 auto;
      span {
        color: $primary;
      }
    }
    p {
      font-weight: 700;
      span {
        color: $primary;
      }
    }
  }
}
// 930px
@mixin advantage-md-lg {
  .advantage {
    &__inner {
      &-icon {
        width: 142px;
      }
      &-title {
        width: calc(100% - 170px);
      }
      h2 {
        margin-bottom: 20px;
      }
    }
    &__footer {
      &::before {
        width: 90px;
        height: 32px;
      }
    }
  }
}
// 840px
@mixin advantage-md-lg-extra {
  .advantage {
    &__inner {
      flex-direction: column;
      align-items: center;
      padding: 40px 0;
      &-icon {
        margin-bottom: 24px;
      }
      &-title {
        width: 100%;
        text-align: center;
      }
      p {
        font-size: 22px;
        line-height: 30px;
      }
    }
    &__footer {
      padding: 24px 0 34px;
      p {
        font-size: 22px;
        line-height: 30px;
      }
    }
  }
}
// 540px
@mixin advantage-xsm-sm {
  .advantage {
    &__footer {
      &.sm {
        padding: 18px 0;
      }
      &.big {
        padding: 140px 0 40px;
        h1 {
          font-size: 40px;
          line-height: 50px;
        }
        h2 {
          font-size: 34px;
          line-height: 40px;
        }
      }
      &::before {
        width: 72px;
        height: 25px;
      }
      p {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}
.warranty {
  padding: 70px 0 85px;
  &.light {
    background-color: #f5f5f5;
    padding: 60px 0 280px;
    .warranty {
      &__inner {
        max-width: unset;
        &-title {
          max-width: 1060px;
          margin: 0 auto 25px;
        }
      }
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    &-title {
      text-align: center;
      width: 100%;
      max-width: 670px;
      margin-bottom: 15px;
    }
    &-medal {
      width: 183px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      img {
        width: 100%;
      }
    }
    &-row {
      width: 100%;
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
      max-width: 560px;
    }
    h1 {
      margin-bottom: 20px;
    }
  }
  &Item {
    width: calc(20% - 10px);
    max-width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
}
// 1024px
@mixin warranty-lg-xlg {
  .warranty {
    &.light {
      padding: 50px 0 250px;
    }
  }
}
// 840px
@mixin warranty-md-lg-extra {
  .warranty {
    padding: 60px 0;
    &__inner {
      p {
        font-size: 22px;
        line-height: 30px;
      }
      h1 {
        font-size: 40px;
        line-height: 50px;
      }
    }
  }
}
// 540px
@mixin warranty-xsm-sm {
  .warranty {
    padding: 40px 0;
    &.light {
      padding: 40px 0 240px;
      .warranty {
        &__inner {
          &-medal {
            width: 183px;
            margin: 0;
          }
        }
      }
    }
    &__inner {
      &-title {
        margin-bottom: 18px;
      }
      &-medal {
        width: 156px;
        margin-bottom: 12px;
      }
      &-row {
        padding-top: 24px;
      }
    }
    &Item {
      width: calc(20% - 6px);
    }
  }
}
.faq {
  padding: 60px 0 80px;
  background-color: $purple;
  &__inner {
    &-content {
      display: flex;
      flex-direction: column;
    }
    h2 {
      margin-bottom: 48px;
      text-align: center;
      color: $white;
    }
  }
  &Item {
    width: 100%;
    margin-bottom: 15px;
    &:last-child {
      margin: 0;
    }
    &__head {
      padding: 18px 95px 18px 70px;
      background-color: $white;
      color: $black;
      position: relative;
      border-radius: 10px;
      cursor: pointer;
      &.active {
        span {
          &::after {
            opacity: 0;
            transform: translateX(-50%) rotate(-90deg);
          }
        }
      }
      span {
        position: absolute;
        top: 50%;
        right: 75px;
        width: 17px;
        height: 17px;
        transform: translateY(-50%);
        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 3px;
          content: "";
          background-color: $black2;
          transform: translateY(-50%);
          transition: 0.3s ease;
        }
        &::after {
          position: absolute;
          top: 0;
          left: 50%;
          width: 3px;
          height: 100%;
          content: "";
          background-color: $black2;
          transform: translateX(-50%);
          transition: 0.4s ease;
        }
      }
    }
    &__body {
      color: $white;
      padding: 0 70px;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: 0.7s ease;
      &.active {
        max-height: 1100px;
        opacity: 1;
        padding: 25px 70px;
      }
    }
  }
}
// 930px
@mixin faq-md-lg {
  .faq {
    padding: 60px 0;
    &__inner {
      h2 {
        margin-bottom: 30px;
      }
    }
    &Item {
      &__head {
        padding: 15px 70px 15px 40px;
        span {
          right: 40px;
        }
      }
      &__body {
        padding: 0 40px;
        &.active {
          padding: 18px 40px;
        }
      }
    }
  }
}
// 840px
@mixin faq-md-lg-extra {
  .faq {
    &__inner {
      p {
        font-size: 22px;
        line-height: 30px;
      }
    }
    &Item {
      p {
        &.desk {
          display: none;
        }
      }
    }
  }
}
// 650px
@mixin faq-sm-md-extra {
  .faq {
    padding: 44px 0 60px;
    &Item {
      &__head {
        padding: 13px 55px 13px 24px;
        span {
          right: 24px;
        }
      }
      &__body {
        padding: 0 24px;
        &.active {
          padding: 12px 24px;
        }
      }
    }
  }
}
// 540px
@mixin faq-xsm-sm {
  .faq {
    padding: 30px 0 60px;
    &Item {
      &__head {
        padding: 13px 40px 13px 16px;
        span {
          width: 16px;
          height: 16px;
          right: 16px;
          &::before {
            height: 2px;
          }
          &::after {
            width: 2px;
          }
        }
      }
      &__body {
        padding: 0 16px;
        &.active {
          padding: 12px 16px;
        }
      }
      p {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}
.reference {
  padding: 50px 0 65px;
  &__inner {
    &-title {
      text-align: center;
      margin-bottom: 24px;
    }
    &-logos {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 930px;
      margin: 0 auto 50px;
      img {
        width: 100%;
      }
    }
    &-col {
      width: calc(50% - 10px);
      max-width: 530px;
      padding-left: 12px;
    }
    ol {
      width: 100%;
      display: flex;
      justify-content: space-between;
      li {
        font-size: 12px;
        line-height: 18px;
        color: #6c6c6c;
        &:hover {
          color: $black;
          a {
            opacity: 1;
          }
        }
        a {
          text-decoration: underline;
          color: inherit;
          word-break: break-all;
        }
      }
    }
  }
}
// 540px
@mixin reference-xsm-sm {
  .reference {
    padding: 30px 0 40px;
    &__inner {
      &-logos {
        margin-bottom: 24px;
      }
      &-title {
        margin-bottom: 12px;
      }
      h5 {
        font-size: 26px;
        line-height: 30px;
      }
    }
  }
}
